<style>
.card {
    background-color: rgba(0, 0, 0, 0.9); /* 提升透明度 */
    color: #fff;
}
.toast-container .toast {
    opacity: 1;
    margin-top: 10px;
}
@media (max-width: 768px) {
    header {
        background-image: none;
        height: auto;
    }
    .card {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .masthead {
        padding: 1rem 0;
        height: 70vh;
        min-height: 300px;
    }
    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.875rem;
    }
    .container {
        padding: 0 0.5rem;
    }
    footer.footer {
        padding: 0.5rem 0;
        font-size: 0.75rem;
    }
    footer .list-inline {
        margin-bottom: 0;
    }
    .social-link {
        display: none;
    }
}

.table-transparent {
    background-color: transparent; /* 设置背景颜色为透明 */
    color: inherit; /* 继承文字颜色 */
    border-collapse: collapse; /* 合并边框 */
  }


  .back-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      font-size: 2rem;
      text-decoration: none;
      margin: 1rem;
      transition: all 0.3s ease-in-out;
  }

  .back-btn i {
      transition: transform 0.3s ease-in-out;
  }

  /* 蓝色背景的样式 */
  .blue-bg {
      background-color: #1d809f;
      color: #fff;
  }

  .blue-bg:hover {
      background-color: #eab10e;
      color: #1d809f;
  }

  .blue-bg:hover i {
      transform: translateX(-3px);
  }

  /* 黄色背景的样式 */
  .yellow-bg {
      background-color: #eab10e;
      color: #fff;
  }

  .yellow-bg:hover {
      background-color: #fff;
      color: #1d809f;
  }

  .yellow-bg:hover i {
      transform: translateX(-3px);
  }

  /* 白色背景的样式 */
  .white-bg {
      background-color: #fff;
      color: #1d809f;
  }

  .white-bg:hover {
      background-color: #1d809f;
      color: #eab10e;
  }

  .white-bg:hover i {
      transform: translateX(-3px);
  }

/* Section background color */
#category-stats {
    background-color: #f8f9fa;
}

/* List item styling */
.category-item {
    font-size: 1.2rem;
}

/* Category name styling */
.category-name {
    font-weight: bold;
}

/* Badge styling */
.category-badge {
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    background-color: #007bff; /* Primary color */
    color: #ffffff;           /* White text */
    border-radius: 0.5rem;
}
/* 确保嵌入内容的卡片与父容器卡片一致 */
.container.py-0 {
    padding-left: 0;
    padding-right: 0;
}

.card-body.p-0 {
    padding: 0;
}

.card {
    width: 100%;  /* 保证卡片宽度继承 */
}

.card-header {
    padding: 1rem; /* 可调整 */
}
</style>