{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="bg-container" style="background-image: url('{% static 'img/bg-callout.jpg' %}'); background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="card text-center shadow-lg" style="width: 80%; max-width: 600px; background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 10px;">
        <h2 class="card-title fw-bold">{{ object.item }}</h2>
    <!-- 显示音标 -->
    {% if object.category.name == '单词' %}
        {% if object.uk_phonetic or object.us_phonetic %}
            <div class="mt-3">
                {% if object.uk_phonetic %}
                    <p class="text-muted mb-1">
                        <strong>英式音标:</strong> /{{ object.uk_phonetic }}/
                    </p>
                {% endif %}
                {% if object.us_phonetic %}
                    <p class="text-muted mb-1">
                        <strong>美式音标:</strong> /{{ object.us_phonetic }}/
                    </p>
                {% endif %}
            </div>
        {% else %}
            <p class="text-warning">未提供音标信息。</p>
        {% endif %}
    {% else %}
        <!-- <p class="text-muted">此项不是单词。</p> -->
    {% endif %}

    <!-- 播放语音 -->
    {% if object.src_tts %}
        <div class="mt-3">
            <audio controls>
                <source src="{{ object.src_tts }}" type="audio/mpeg">
                您的浏览器不支持音频播放。
            </audio>
        </div>
    {% endif %}

    <hr>

    <!-- 详细信息 -->
    <div class="text-start">
        <p><strong>Content:</strong></p>
        <p style="white-space: pre-line">{{ object.content |safe}}</p>
        <p><strong>Input Date:</strong> {{ object.inputDate }}</p>
        <p><strong>Initial Date:</strong> {{ object.initDate }}</p>
        <p><strong>Proficiency:</strong> {{ object.get_proficiency_display }}</p>
        <p><strong>Category:</strong> {{ object.category.name }}</p>
    </div>
    <hr>
    <!-- 返回按钮 -->
    <div>
        <!-- 蓝色背景按钮 -->
        <a href="javascript:history.back()" class="back-btn blue-bg">
            <i class="bi bi-arrow-left"></i>
        </a>
    </div>
    </div>
</div>
{% endblock %}
