<footer class="footer text-center" style="padding: 10px 0; background-color: #f8f9fa;">
    <div class="container">
        <ul class="list-inline mb-2" style="margin: 0; padding: 0;">
            <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="#"><i class="icon-logout"></i></a></li>
            <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="#"><i class="icon-present"></i></a></li>
            <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="#"><i class="icon-envelope-open"></i></a></li>
        </ul>
        <p class="text-muted mb-0 small" style="font-size: 14px; margin-top: 5px;">Copyright &nbsp;© Brandon Lu 2024</p>
    </div>
    <a class="js-scroll-trigger scroll-to-top rounded" href="#page-top" style="bottom: 10px;"><i class="fa fa-angle-up"></i></a>
</footer>